@model BerrasBio.Models.BokaViewModel

@{ ViewData["Title"] = "Boka"; }

<img id="header" src="https://thislifeisacinema.files.wordpress.com/2012/04/film-header1.jpg" alt="ASP.NET" class="img-responsive" />

<h3>@ViewData["Message"]</h3>

@using (Html.BeginForm("Boka", "Boka", FormMethod.Post))
{

    <div class="row">
        <div class="col-md-3">
            <h4>Filmer och tid</h4>

            <select asp-for="SelectedFilmId" asp-items="@(new SelectList(Model.FilmLista, "FilmId", "FilmTitel"))" onchange="GetAntalBiljetter()"></select>

        </div>

        <div class="col-md-3">
            <h4>Lediga platser</h4>
            <div id="antal">

                @Html.DisplayFor(model => model.AntalBiljetter)

            </div>

        </div>

        <div class="col-md-3">
            <h4>Antal Biljetter</h4>

            <input asp-for="@Model.AntalBiljetter" style="width:40px" id="regex" runat="server"/>
            <asp:RegularExpressionValidator ID="regex" runat="server"
                                            ErrorMessage="Vänligen ange en siffra."
                                            ControlToValidate="regex"
                                            ValidationExpression="^[0-9]*$" />

        </div>

        <div class="col-md-3">
            <h4>Bekräfta</h4>

            <input type="submit" value="Boka" class="btn btn-default" />

        </div>
    </div>
}

@section scripts {
    <script>
        function GetAntalBiljetter() {

            var serviceURL = '/Boka/GetAntalLedigaBiljetter/?id=';
            var selectedId = $('#SelectedFilmId').val();

            $.ajax({
                type: "POST",
                url: serviceURL + selectedId,
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });

            function successFunc(data) {
                if (data == 'Felaktigt filmval') {
                    alert('Felaktigt filmval')
                }
                else {
                    $("#antal").html(data);
                }
            }

            function errorFunc() {
                alert('error');
            }
        }
    </script>
}





