@{
    ViewData["Title"] = "Home Page";
}
            <img id="header"src="https://thislifeisacinema.files.wordpress.com/2012/04/film-header1.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
               
            </div>

<div class="row">
    <div class="col-md-3">
        <h2>Filmer</h2>
        <ul>
            <li>Sagan om ringen kl 17:30</li>
            <li>Boolibompa kl 18:00</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Antal Biljetter</h2>
        <ul>
            <li>1</li><li>2</li><li>3</li><li>4</li>
            
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Boka</h2>
        
            <button>Boka</button>
       
    </div>
</div>
