@{
    ViewData["Title"] = "Home Page";
}
            <img id="header"src="https://thislifeisacinema.files.wordpress.com/2012/04/film-header1.jpg" alt="ASP.NET" class="img-responsive" />

<h3>Välkommen till Berras bio! Vår salong visar samma filmer varje dag och har 50 platser. Boka dina biljetter redan idag!</h3>

