@{
    ViewData["Title"] = "Trailers";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<iframe width="600" height="350" src="https://www.youtube.com/embed/FC6biTjEyZw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<p>
    <address>
        <strong>Kontakta oss:</strong> <a href="mailto:berrasbio@onegmail.com">berrasbio@onegmail.com</a><br />
    </address>
</p>