@{
    ViewData["Title"] = "Trailers";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Här visas trailers av våra filmer.</p>

<address>
    <strong>Kontakta oss:</strong> <a href="mailto:berrasbio@onegmail.com">berrasbio@onegmail.com</a><br />
</address>
